body {
    font-size: 1.3em;
    width:1400px;
    margin: auto;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 2px 4px;
}
.ui-resizable {
    border: 1px grey solid;
}
.job_checkbox {
    vertical-align: text-bottom;
}

.RUN {
    background-color: darkgreen;
    padding: 1px 4px;
    border-radius: 4px;
    color: white;
}

.DONE {
    background-color: #377eb8;
    padding: 1px 4px;
    border-radius: 4px;
    color: white;
}

.EXIT{
    background-color: #e41a1c;
    padding: 1px 4px;
    border-radius: 4px;
    color: white;
}

.PEND{
    background-color: #ff7f00;
    padding: 1px 4px;
    border-radius: 4px;
    color: white;
}

.unknown{
    background-color: grey;
    padding: 1px 4px;
    border-radius: 4px;
    color: white;
}


#info {
    padding: 8px 8px;
    background-color: #EEEEEE;
    border-radius: 4px;
    margin-bottom:10px;
}

pre {
    counter-reset: line-numbering;
}

code:before {
    content: counter(line-numbering);
    counter-increment: line-numbering;
    padding-right: 1em;
    width: 1.5em;
    text-align: right;
    opacity: 0.5;
}
#mytable tr td.dt-right:first-child {
    width: 80px;
}

.modal-content {
    width: 900px;
}

