S3method("print", "bjobs")
export("print.bjobs")
export("bjobs")
export("bjobs_done")
export("bjobs_exit")
export("bjobs_pending")
export("bjobs_running")
export("bkill")
export("brecent")
export("bsub_chunk")
export("bsub_cmd")
export("bsub_opt")
export("bsub_script")
export("bu")
export("clear_temp_dir")
export("is_job_finished")
export("job_log")
export("retrieve_var")
export("run_cmd")
export("ssh_connect")
export("ssh_disconnect")
export("wait_jobs")

import("GlobalOptions")
importFrom("GetoptLong", qq, qqcat)
importFrom("digest", digest)
importFrom("utils", "read.csv")
importFrom("utils", "sessionInfo")

