S3method("print", "bconf")
export("print.bconf")
S3method("print", "bjobs")
export("print.bjobs")
export("bconf")
export("bjobs")
export("bjobs_barplot")
export("bjobs_done")
export("bjobs_exit")
export("bjobs_pending")
export("bjobs_running")
export("bjobs_timeline")
export("bkill")
export("brecent")
export("bsub_chunk")
export("bsub_cmd")
export("bsub_opt")
export("bsub_script")
export("check_dump_files")
export("clear_temp_dir")
export("get_dependency")
export("is_job_finished")
export("job_log")
export("job_status_by_id")
export("job_status_by_name")
export("monitor")
export("plot_dependency")
export("random_job")
export("retrieve_var")
export("run_cmd")
export("ssh_connect")
export("ssh_disconnect")
export("wait_jobs")

import("GlobalOptions")
import("clisymbols")
import("crayon")
importFrom("GetoptLong", qq, qqcat)
importFrom("digest", digest)
importFrom("grDevices", "col2rgb", "rgb")
importFrom("graphics", "layout")
importFrom("graphics", "layout")
importFrom("graphics", "legend", "par", "plot", "text")
importFrom("methods", "new")
importFrom("stats", "runif")
importFrom("utils", "getFromNamespace")
importFrom("utils", "read.csv", "sessionInfo", "packageDescription")
importFrom("graphics", "axis", "box", "segments", "title")

